.Tab {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    cursor: pointer;

    color: #43a7f5;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 0.5px solid gray;

    &:first-child {
        border-radius: 5px 0 0 5px;
        border-left: 1px solid gray;
    }

    &:last-child {
        border-radius: 0 5px 5px 0;
        border-right: 1px solid gray;
    }

    &:hover {
        background-color: #f2fcff;
    }
}
.Tab > input {
    pointer-events: none;
    position: absolute;
    opacity: 0;
}
.Tab_active{
    background-color: #2796f3 !important;
    color: #FFF !important;
}